<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>URL Shortner</h1>
    <% if (locals.shortenedURL) { %>
        <p>URL Generated: <%= shortenedURL %></p>
    <% } %>
    <div>
        <form method="post" action="/url">
            <label for="url">Enter Your Original URL</label>
            <input type="text" id="url" name="url" placeholder="https://example.com">
            <button type="submit">Generate</button>
        </form>
    </div>
    <div>
        <% if (locals.entries) { %>
            <table>
                <thead>
                    <tr>
                        <th>Shortened URL</th>
                        <th>Original URL</th>
                        <th>Total Clicks</th>
                    </tr>
                </thead>
                <tbody>
                    <% entries.forEach(entry => { %>
                        <tr>
                            <td>http://localhost:8000/<%= entry.shortID %></td>
                            <td><%= entry.longURL %></td>
                            <td><%= entry.visitHistory.length %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <% } %>
    </div>
</body>
</html>